.shop_container{
  //display: flex;
  //justify-content: space-between;
}
.item_shop {
  width: 30%;
  height: 150px;
  display: inline-block;
  background-color: #e6e6e6;
  border-radius : 5px;
  padding: 10px;
  position: relative;
  margin-left: 13px;
  ul {
    display: flex;
    justify-content: space-between;
    padding: 15px 5px 5px 5px;
  }
  h3 {
    padding-bottom: 5px;
    border-bottom: 1px solid #8e8e8e;
    height: 50px;
    font-size: 15px;
  }
  .buttons {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    a {
      width: 40%;
      padding: 5px 10px 5px 10px;
      background-color: rgba(#FF4C23, 0.79);
      border-radius: 5px;
      color: white;
      text-align: center;
      font-size: 14px;
      &:first-child {
        margin-right: 5px;
      }
      &:last-child {
        margin-left: 5px;
      }
    }
  }
  &:nth-child(n+4){
    margin-top: 20px;
  }
  .price, .quantity { color: #2e2e2e; font-size: 14px;}
}
.container_shop_categories{
  text-align: left;
  line-height: 1.5;
  color: #ff4c23;
  .sub_categorie{
    margin-left: 20px;
    display: none;
  }
  a {
    color: #2e2e2e;
    margin-bottom: 0px !important;
  }
  li {
    cursor: pointer;
  }
}
.container_shop_cart {
  font-size: 13px;
  a {
    margin-bottom: 0px !important;
    color: #ff4c23;
  }
  .btn {
    width: 45%;
    color: white;
    margin-top: 30px;
    padding-top: 7px;
    display: inline-block;
    background-color: #332d31;
    border-bottom-color: #332d31;
    font-size: 15px;
  }
  .gift_button{
    background-color: rgba(#FF4C23, 0.79);
    border-bottom-color: rgba(#FF4C23, 0.79);
  }
}
.container_shop_recap{
    tbody {
        tr:last-child {
            border-bottom: none;
            &:hover {
                background-color: transparent;
            }
        }
    }
    form {
        text-align: center;
        .select {
            height: 45px;
            outline: 0;
        }
        .btn {
            margin-top: 20px;
        }
    }
}
